<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main_layout}" lang="fr">

<div layout:fragment="content" class="row">

    <!-- Page header -->
    <div class="row align-items-center justify-content-between">
        <div class="col-6 text-start">
            <h2 class="fw-bold py-3 mb-3"><span class="text-muted fw-light">Create evaluations</span></h2>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <form class="form" th:action="@{/evaluationss}" method="post">
                <div class="log-lg-3 col-md-6 order-0">
                    <div class="mb-3">
  <label for="commentairegeneralSelect" class="form-label">Candidatures</label>
  <select class="form-select" id="commentairegeneralSelect" name="commentairegeneral">
    <option th:each="commentairegeneral:${commentairegenerals}" th:value="${commentairegeneral.commentaire_general}" th:text="${commentairegeneral.candidatures}"></option>
  </select>
  <div id="commentairegeneralhelp" class="form-text">Select an option.</div>
</div>

                    <div class="mb-3">
    <label for="typeinput" class="form-label">Type</label>
    <input type="text" class="form-control" id="typeinput"
      aria-describedby="typehelp" name="type">
</div>

                    <div class="mb-3">
  <label for="dateinput" class="form-label">Date</label>
  <input type="date" class="form-control" id="dateinput"
    aria-describedby="datehelp" name="date">
</div>

                    <div class="mb-3">
    <label for="commentairegeneralinput" class="form-label">CommentaireGeneral</label>
    <input type="text" class="form-control" id="commentairegeneralinput"
      aria-describedby="commentairegeneralhelp" name="commentairegeneral">
</div>

                </div>
                <button type="submit" class="btn btn-primary">Confirm
                </button>
            </form>
        </div>
    </div>
</div>
</html>
