<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main_layout}" lang="fr">

<div layout:fragment="content" class="row">

    <!-- Page header -->
    <div class="row align-items-center justify-content-between">
        <div class="col-6 text-start">
            <h2 class="fw-bold py-3 mb-3"><span class="text-muted fw-light">Create cv</span></h2>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <form class="form" th:action="@{/cvs}" method="post">
                <div class="log-lg-3 col-md-6 order-0">
                    <div class="mb-3">
  <label for="coefffiltrageSelect" class="form-label">Candidats</label>
  <select class="form-select" id="coefffiltrageSelect" name="coefffiltrage">
    <option th:each="coefffiltrage:${coefffiltrages}" th:value="${coefffiltrage.coeff_filtrage}" th:text="${coefffiltrage.candidats}"></option>
  </select>
  <div id="coefffiltragehelp" class="form-text">Select an option.</div>
</div>

                    <div class="mb-3">
    <label for="contenuinput" class="form-label">Contenu</label>
    <input type="text" class="form-control" id="contenuinput"
      aria-describedby="contenuhelp" name="contenu">
</div>

                    <div class="mb-3">
  <label for="experienceinput" class="form-label">Experience</label>
  <input type="number" step="0.001" class="form-control" id="experienceinput"
    aria-describedby="experiencehelp" name="experience">
</div>

                    <div class="mb-3">
    <label for="educationinput" class="form-label">Education</label>
    <input type="text" class="form-control" id="educationinput"
      aria-describedby="educationhelp" name="education">
</div>

                    <div class="mb-3">
  <label for="coefffiltrageinput" class="form-label">CoeffFiltrage</label>
  <input type="number" step="0.001" class="form-control" id="coefffiltrageinput"
    aria-describedby="coefffiltragehelp" name="coefffiltrage">
</div>

                </div>
                <button type="submit" class="btn btn-primary">Confirm
                </button>
            </form>
        </div>
    </div>
</div>
</html>
